/* Font archivo */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'GolosText';
    src: local('GolosText Regular'), local('GolosText-Regular'), url('GolosText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GolosText';
    src: local('GolosText Medium'), local('GolosText-Medium'), url('GolosText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GolosText';
    src: local('GolosText SemiBold'), local('GolosText-SemiBold'), url('GolosText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GolosText';
    src: local('GolosText Bold'), local('GolosText-Bold'), url('GolosText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GolosText';
    src: local('GolosText ExtraBold '), local('GolosText-ExtraBold '), url('GolosText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


body {
    font-family: "Archivo", sans-serif;
}


:root {
    --hoverColor: #00D4C5;
    --primary: #692B58;
    --secondary: #F9BF41;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary2: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary2: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
}

/* Customize pagination in swiper */

.swiper-pagination-bullet {
    @apply !bg-white;
}

.swiper-pagination {
    @apply bottom-[200px];
}

/* Page transition */

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

/* Custom styles for vue-toastification */
.Toastify__toast {
    padding: 16px !important;
    border-radius: 8px !important;
    color: #fff !important;
}

.Toastify__toast--success {
    background-color: #4caf50; /* Success color */
}

.Toastify__toast--error {
    background-color: #f44336; /* Error color */
}

.Toastify__toast--info {
    background-color: #2196f3; /* Info color */
}

.Toastify__toast--warning {
    background-color: #ff9800; /* Warning color */
}
